* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-error: #f15a5a;
  --neutral-900: hsl(183, 100%, 15%);
  --neutral-800: #0c686d;
  --neutral-700: hsl(184, 14%, 56%);
  --neutral-600: hsl(185, 41%, 84%);
  --neutral-200: hsl(189, 41%, 97%);
  --neutral-100: hsl(0, 0%, 100%);

  font-family: 'Space Mono', monospace;
}

/* main */

main {
  background-color: var(--neutral-600);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
}

.logoContainer {
  width: 87px;
  margin-top: 15vh;
  margin-bottom: 5em;
}

.logoContainer > img {
  width: 100%;
}

/* tip */

.tip {
  padding: 2em;
  background-color: var(--neutral-100);
  border-radius: 1em;
  display: flex;
  width: 100%;
  max-width: 880px;
}

.tip > * + * {
  margin: 0 0 0 2.5em;
}

.tip__container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tip__container--dark {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
  padding: 2em;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 80%;
  }
  .logoContainer {
    width: 87px;
    margin-top: 3.5em;
    margin-bottom: 2.5em;
  }

  .tip {
    flex-direction: column;
    max-width: 380px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .tip > * + * {
    margin: 2.5em 0 0 0;
  }

  .tip__container {
    width: 100%;
  }
}

/* tip controls */

.tip__formGroup + .tip__formGroup {
  margin-top: 2em;
}

.tip__label {
  font-weight: 600;
  color: var(--neutral-700);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.errorLabel {
  color: var(--clr-error);
}

.tip__input {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  color: var(--neutral-900);
  border: none;
  background-color: var(--neutral-200);
  padding: 0.2em 0.5em;

  font-size: 1.5rem;
  border-radius: 5px;
  text-align: right;

  border-radius: 5px;
  border: 2px solid transparent;
  outline: none;
}

.tip__input:focus {
  border: 2px solid var(--clr-primary);
}

.tip__input--invalid {
  border: 2px solid var(--clr-error);
}

#billInput {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 30px;
}

#peopleInput {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 30px;
}

.tip__btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

@media only screen and (max-width: 800px) {
  .tip__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

/* tip display */

.display__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.display__labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}

.display__labelContainer > p {
  font-weight: 600;
}

.display__labelContainer > small {
  color: var(--neutral-700);
}

.display__amount {
  max-width: 100%;
  overflow: auto;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--clr-primary);
}

@media only screen and (max-width: 800px) {
  .display__amount {
    font-size: 2rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Space Mono', monospace;

  border: none;
  background-color: var(--neutral-900);
  color: var(--neutral-100);
  padding: 0.4em 0;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s ease-out;
}

.btn--display {
  background-color: var(--clr-primary);
  color: var(--neutral-900);

  width: 100%;
  margin-top: auto;
}

.btn:hover {
  background-color: var(--neutral-600);
  color: var(--neutral-900);
}

.btn--active {
  background-color: var(--clr-primary) !important;
  color: var(--neutral-900) !important;
  cursor: default;
}

.btn--display:disabled {
  background-color: var(--neutral-800);
  color: var(--neutral-900);
  cursor: default;
}

/* Misc */

label,
input {
  display: block;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

::placeholder {
  color: var(--neutral-700);
}
